<div ng-show="displayLoadingIndicator" class="LoadingIndicator bubblingG">
	<span id="bubblingG_1">
	</span>
	<span id="bubblingG_2">
	</span>
	<span id="bubblingG_3">
	</span>
</div>


<h1 class="match_title">Match: {{match.team_1.name}} vs {{match.team_2.name}}</h1>

<div class="wrapper match" ng-show="displayWrapper">

	<article>


		<div>
			{{match.team_1.name}} <span ng-class="{winner: match.team_1_score > match.team_2_score}">{{match.team_1_score}} </span>
		</div>

		<div>
			{{match.team_2.name}} <span ng-class="{winner: match.team_2_score > match.team_1_score}">{{match.team_2_score}} </span>
		</div>

		<div>
			Pool <span>{{match.pool.name}}</span>
		</div>

		<div>
			<a href="#/addscore/{{match.id}}">Add Score</a>
		</div>



	</article>
	
</div>
